/* Marqueur globaux pour réinitialiser les paddings et margins indésirables */

*, ::before, ::after 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Bouton navbar et div fille*/

    .container-menu
    {
        width: 450px;
        height: 400px; 
        position: fixed;
        top : -105px;
        left: -130px;
        z-index: 50000;
    }

    .btn-menu
    {
        width: 60px;
        height: 60px;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(246,13,13,1) 50%, rgba(0,0,0,1) 100%);
        border-radius: 50%;
        top: 50%;
        left: 47%;
        transform: translate(-50%,-50%);
        position: absolute;
        z-index: 20;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 20px 0.5px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 20px 0.5px rgba(255,255,255,1);
        box-shadow: 0px 0px 20px 0.5px rgba(255,255,255,1);
    }

    /* Ligne à l'interieur du bouton avant/après animation */
    .ligne
    {
        width: 20px;
        height: 3px;
        border-radius: 5px;
        background: #e4e0e0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 0.1s 0.2s ease-in-out;
    }

    .ligne::before
    {
        content:'';
        position: absolute;
        bottom: 6px;
        background : #e4e0e0;
        width: 20px;
        height: 3px;
        border-radius: 5px;
        transition: all 0.1s 0.2s ease-in-out;
    }

    .ligne::after
    {
        content:'';
        position: absolute;
        top: 6px;
        background : #e4e0e0;
        width: 20px;
        height: 3px;
        border-radius: 5px;
        transition: all 0.1s 0.2s ease-in-out;
    }

    .container-menu.active .ligne::before
    {
        transform: translateY(6px) rotate(-45deg) scale(1.2, 1.2);
    }

    .container-menu.active .ligne
    {
        background: transparent;
    }

    .container-menu.active .ligne::after
    {
        transform: translateY(-6px) rotate(45deg) scale(1.2, 1.2);
    
    }

    /* Ligne individuelle propre à la navbar */

    .ligne-menu
    {
        position: absolute;
        background-image: url(Images/button_ligne.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        cursor: pointer;
        visibility: hidden;
        height: 40px;
        width: 220px;
        top: 50%;
        left: 65%;
        transform: translate(-50%,-50%);
        border-radius: 30px;
    }

    .ligne-menu a{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-left: 14px;
        text-decoration: none;
        color: white;
        font-size: large;
    }

    .ligne-menu1
    {
        transition: all 0.2s 0.1s ease-in-out;
    }

    .ligne-menu2
    {
        transition: all 0.2s 0.2s ease-in-out;
    }

    .ligne-menu3
    {
        transition: all 0.2s 0.3s ease-in-out;
    }

    .ligne-menu4
    {
        transition: all 0.2s 0.4s ease-in-out;
    }

    .ligne-menu5
    {
        transition: all 0.2s 0.5s ease-in-out;
    }

    /* Si le container "container-menu" est cliqué et contient la classe "active", alors on applique aux div filles le css qui suit */

    .container-menu.active .ligne-menu1
    {
        visibility: visible;
        opacity: 1;
        left: 83%;
        top: 50%;
    } 

    .container-menu.active .ligne-menu2
    {
        visibility: visible;
        opacity: 1;
        left: 83%;
        top: 64%;
    } 

    .container-menu.active .ligne-menu3
    {
        visibility: visible;
        opacity: 1;
        left: 83%;
        top: 78%;
    } 

    .container-menu.active .ligne-menu4
    {
        visibility: visible;
        opacity: 1;
        left: 83%;
        top: 92%;
    } 

    .container-menu.active .ligne-menu5
    {
        visibility: visible;
        opacity: 1;
        left: 83%;
        top: 106%;
    } 

/* Fin du bouton navbar */ 

/* Image de profil du CV */

#PDP
{
    width: 250px;
    height: 280px;
    border-radius : 51% 49% 45% 55% / 57% 54% 46% 43% ;
}

/* Slide Parallax */

    #slide1
    {
        margin : 0;
        padding : 0;
        height : 400px;
        width: 100%;
        background: url(Images/1382-silk_purple_dark-375w-667h2xiphone.jpg) no-repeat center fixed;
        background-size: cover;
        z-index: -201;
    }

    #slide2
    {
        margin : 0;
        padding : 0;
        height : 700px;
        width: 100%;
        background: url(Images/p-black-light-dark-figures-2560x1440.jpg) no-repeat center fixed;
        background-size: cover;
        -webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }

    #slide3
    {
        margin : 0;
        padding : 0;
        height : 500px;
        width: 100%;
        background: url(Images/istockphoto-887375642-612x612.jpg) no-repeat center fixed;
        background-size: cover;
        -webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }

    .slide_inside 
    {
        display: flex;
        position: relative;
        justify-content: flex-end;
        right : 60px;
        top: 60px;
    }

/* Fin Slide parallax */


/* Création de la scrollbar */

    /* width */

    ::-webkit-scrollbar {
        width: 7px;
        background-color: rgb(83, 83, 83)
    }

    /* Track */

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px black;
        border-radius: 10px;
    }

    /* Couleur et style de la scrollbar */

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(246,13,13,1) 50%, rgba(0,0,0,1) 100%);
        border-radius: 10px;
    }

/* Fin de création de la scrollbar */