/* Marqueur globaux pour réinitialiser les paddings et margins indésirables */

*, ::before, ::after 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Police d'écriture */
    @font-face {
        font-family: "PoliceGoogle1";
        src: url('SourceCodePro-Regular.ttf');
    }

/* Bouton navbar et div fille*/

    .container-menu
    {
        width: 450px;
        height: 400px; 
        position: fixed;
        top : -105px;
        left: -130px;
        z-index: 50000;
    }

    #slide1 {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .Nom
        { 
            grid-area: 1 / 2 / 2 / 3;
            display: flex; 
            justify-content: center;
            align-items: center;
            font-size: calc(1vw + 1.8rem);
            font-family: 'Aclonica', sans-serif;
            color: rgb(12, 12, 12);
            text-shadow: rgb(255, 255, 255) 3px 3px 3px, rgb(255, 255, 255) -3px -3px 3px;
        }
        .Titre 
        { 
            grid-area: 2 / 2 / 3 / 3; 
            display: flex; 
            justify-content: center;
            align-items: center;
            font-size: calc(1vw + 1.8rem);
            color: rgb(12, 12, 12);
            text-shadow: rgb(255, 255, 255) 3px 3px 3px, rgb(255, 255, 255) -3px -3px 3px;
            text-align: center;
        }
        .imgPDP
        {
            grid-area: 1 / 3 / 3 / 4; 
            padding: 10px 25px 25px 150px;
        }

        .PDP{
            width: 250px;
            max-width: 250px;
            height: 280px;
            max-height: 280px;
            border-radius : 51% 49% 45% 55% / 57% 54% 46% 43%;
        }

    .btn-menu
    {
        width: 70px;
        height: 70px;
       /*  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(246,13,13,1) 50%, rgba(0,0,0,1) 100%); */
        background-image: url('../Images/testbutton.jpg');
        background-size: cover;
        border-radius: 50%;
        top: 50%;
        left: 47%;
        transform: translate(-50%,-50%);
        position: absolute;
        z-index: 20;
        cursor: pointer;
        transition: all 0.1 0.5s ease-in-out;
    }

    /* Ligne à l'interieur du bouton avant/après animation */
    .ligne
    {
        width: 25px;
        height: 4px;
        border-radius: 5px;
        background: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 0.1s 0.3s ease-in;
    }

    .ligne::before
    {
        content:'';
        position: absolute;
        bottom: 7px;
        background : #ffffff;
        width: 25px;
        height: 4px;
        border-radius: 5px;
        transition: all 0.1s 0.3s ease-in-out;
    }

    .ligne::after
    {
        content:'';
        position: absolute;
        top: 7px;
        background : #ffffff;
        width: 25px;
        height: 4px;
        border-radius: 5px;
        transition: all 0.1s 0.3s ease-in-out;
    }

    .container-menu.active .ligne::before
    {
        transform: translateY(7px) rotate(-45deg) scale(1.2, 1.2);
    }

    .container-menu.active .ligne
    {
        background: transparent;
    }

    .container-menu.active .ligne::after
    {
        transform: translateY(-7px) rotate(45deg) scale(1.2, 1.2);
    
    }

    /* Ligne individuelle propre à la navbar */

    .ligne-menu
    {
        position: absolute;
        background-image: url(../Images/abstract-black-gold-grand-wallpaper-preview.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        cursor: pointer;
        visibility: hidden;
        height: 40px;
        width: 255px;
        top: 50%;
        left: 65%;
        transform: translate(-50%,-50%);
        border-radius: 30px;
    }

    .ligne-menu a{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-left: 25px;
        text-decoration: none;
        color: white;
        font-size: large;
        font-family: 'PoliceGoogle1';
    }

    .ligne-menu1
    {
        transition: all 0.2s 0.1s ease-in-out;
    }

    .ligne-menu2
    {
        transition: all 0.2s 0.2s ease-in-out;
    }

    .ligne-menu3
    {
        transition: all 0.2s 0.3s ease-in-out;
    }

    .ligne-menu4
    {
        transition: all 0.2s 0.4s ease-in-out;
    }

    .ligne-menu5
    {
        transition: all 0.2s 0.5s ease-in-out;
    }

    .ligne-menu6
    {
        transition: all 0.2s 0.6s ease-in-out;
    }

    /* Si le container "container-menu" est cliqué et contient la classe "active", alors on applique aux div filles le css qui suit */

    .container-menu.active .ligne-menu1
    {
        visibility: visible;
        opacity: 1;
        left: 88%;
        top: 50%;
    } 

    .container-menu.active .ligne-menu2
    {
        visibility: visible;
        opacity: 1;
        left: 88%;
        top: 64%;
    } 

    .container-menu.active .ligne-menu3
    {
        visibility: visible;
        opacity: 1;
        left: 88%;
        top: 78%;
    } 

    .container-menu.active .ligne-menu4
    {
        visibility: visible;
        opacity: 1;
        padding-left: 28px;
        left: 88%;
        top: 92%;
    } 

    .container-menu.active .ligne-menu5
    {
        visibility: visible;
        opacity: 1;
        left: 88%;
        top: 106%;
    } 

    .container-menu.active .ligne-menu6
    {
        visibility: visible;
        opacity: 1;
        left: 88%;
        top: 120%;
    } 

/* Fin du bouton navbar */ 


/* Slide Parallax */

    #slide1
    {
        margin : 0;
        padding : 0;
        height : 300px;
        width: 100%;
        background: url(../Images/1382-silk_purple_dark-375w-667h2xiphone.jpg) no-repeat center fixed;
        background-size: cover;
        z-index: 2;
    }

    #slide2
    {
        position: relative;
        margin : 0;
        padding : 30px 0px 0px 0px;
        height : auto;
        width: 100%;
        background: url(../Images/p-black-light-dark-figures-2560x1440.jpg) no-repeat center fixed;
        background-size: cover;
        -webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
    }
    
    h2
    {
        text-align: center;
        font-family: verdana, sans-serif;
        font-size: calc(1vw + 1.8rem);
        font-weight: bold;
        font-variant: small-caps;
        word-spacing: 2.8pt;
        line-height: 0.9;
        color: grey;
        text-shadow: 1px 1px 1px #ffffff;
    }


    #hrs2
    {
        position: absolute;
        left: 50%;
        top: 17%;
        transform: translate(-50%);
        display: flex;
        justify-content: center;
        padding: 0px;
        margin: 0px;
        background-color: grey;
        z-index: 10;
        height: 2px;
        width: 50%;
    }

    #slide2 .pave_presentation
    {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-self: center;
        text-align: left;
        margin: 100px 0 100px 0;
        padding: 0 10% 0px 10%;
        color: white;
        width: 100%;
        height: auto;
    }

    #slide2 .pave_presentation p
    {
        padding-top: 15px;
        font-size: calc(1vw + 0.5rem);
    }

    #slide2 .pave_presentation p:nth-child(2)
    {
        padding-top: 40px;
    }

    #slide2 .pave_presentation p:nth-child(3)
    {
        padding-top: 40px;
    }

    #slide3
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr repeat(4, 4fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin : 0;
        padding : 0;
        height : auto;
        width: 100%;
        background: url(../Images/istockphoto-887375642-612x612.jpg) no-repeat center fixed;
        background-size: cover;
        -webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }

    .h2-cursus
    {
        grid-area: 1 / 1 / 2 / 4;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top : 25px;
    }

    #hrs3
    {
        transform: translate(50%,50%);
        margin-top: 20px;
        background-color: grey;
        z-index: 10;
        height: 2px;
        width: 50%;
    }

    .timeline-cursus
    {
        grid-area: 2 / 1 / 6 / 4;
    }

/* Fin Slide parallax */


/* Création de la scrollbar */

    /* width */

    ::-webkit-scrollbar {
        width: 7px;
        background-color: rgb(83, 83, 83)
    }

    /* Track */

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px black;
        border-radius: 10px;
    }

    /* Couleur et style de la scrollbar */

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(246,13,13,1) 50%, rgba(0,0,0,1) 100%);
        border-radius: 10px;
    }

/* Fin de création de la scrollbar */

/* Timelane */

    .box-timeline {
        width: 100%;
        height: 1650px;
        position: relative;
        padding: 100px 0 1350px 0;
    }

    .lignetime {
        height: 1300px;
        width: 12px;
        margin: 0 auto;
        background: rgb(177, 7, 7);
    }

    .rond {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #333;
        position: absolute;
        border: 1px solid #000;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }
    /* 1000 - 160 + 80 / 3 =~ 306 */
    .r1{top: 100px;}
    .r2{top: 486px;}
    .r3{top: 792px;}
    .r4{top: 1100px;}
    .r5{top: 1386px;}

    .box {
        color: #333;
        width: 400px;
        min-height: 200px;
        /* padding: 20px; */
        border-radius: 10px;
        height: auto;
        box-shadow: 0 10px 15px rgba(0,0,0,0.5);
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scale(1) translateY(0%) !important;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr 2fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        border: 2px solid black;
        z-index: 200;
        transition: transform 0.1s ease-out;
    }

    .box:hover
    {
        transform: translateX(-50%) scale(1.01) translateY(-3%) !important;
        transition: transform 0.1s ease-in;
    }

    .titrebox
    {
        display: flex;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        color: rgb(255, 255, 255);
        text-shadow: 2px 1px black;
        padding: 15px 15px 15px 15x;
        grid-area: 1 / 1 / 2 / 2;
        background:rgb(106, 107, 106);
        font-family: 'Aclonica', sans-serif;
        font-size: 0.9rem;
    }

    .descbox
    {
        grid-area: 2 / 1 / 3 / 2;
        padding: 5px 20px 20px 20px;
        font-family: sans-serif;
        filter: blur(0px);
    }

    .b1 {
        top: 100px;
        left: calc(50% - 270px);
        color: black;
        text-shadow: 2px 1px white;
    }

    .backgroundb1
    {
        grid-area: 2 / 1 / 3 / 2;
        background-image: url(../Images/afpa.jpg);
        background-size: cover;
        filter: blur(2px);
        margin: 1px;
    }

    .b2 {
        top: 486px;
        left: calc(50% + 270px);
        color: black;
        text-shadow: 2px 1px white;
    }

    .backgroundb2
    {
        grid-area: 2 / 1 / 3 / 2;
        background-image: url(../Images/afpa.jpg);
        background-size: cover;
        margin: 1px;
        filter: blur(2px);
    }

    .b3 {
        top: 792px;
        left: calc(50% - 270px);
        color: white;
        text-shadow: 2px 1px black;
    }

    .backgroundb3
    {
        grid-area: 2 / 1 / 3 / 2;
        background-image: url(../Images/UPJV.jpg);
        background-size: cover;
        margin: 1px;
        filter: blur(2px);
    }

    .b4 {
        top: 1100px;
        left: calc(50% + 270px);
        color: white;
        text-shadow: 2px 1px black;
    }

    .backgroundb4
    {
        grid-area: 2 / 1 / 3 / 2;
        background-image: url(../Images/UPJV.jpg);
        background-size: cover;
        margin: 1px;
        filter: blur(2px);
    }

    .b5 {
        top: 1386px;
        left: calc(50% - 270px);
        color: White;
        text-shadow: 2px 1px Black;
    }

    .backgroundb5
    {
        grid-area: 2 / 1 / 3 / 2;
        background-image: url(../Images/gaylugambetta.jpg);
        background-size: cover;
        margin: 1px;
        filter: blur(2px);
    }

    .box p {
        line-height: 20px;
        font-size: 18px;
        margin: 20px 0 0px 0;
    }
    .btn {
        display: block;
        background: midnightblue;
        padding: 10px;
        width: 120px;
        text-align: center;
        color: #f1f1f1;
        text-decoration: none;
        border-radius: 3px;
        margin-top: 10px;
    }

    #slide4
    {
        margin : 0;
        padding : 0;
        height : auto;
        width: 100%;
        background: url(../Images/slide4.jpg) no-repeat center fixed;
        background-size: cover;
        -webkit-box-shadow:  0px 0px 30px 0px rgba(0, 0, 0, 0.5);
        box-shadow:  0px 0px px 0px rgba(0, 0, 0, 0.5);
    }

    #slide5
    {
        margin : 0;
        padding : 0;
        height : 650px;
        width: 100%;
        background-image: url(../Images/wallp.jpg);
        background-size: cover;
        -webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }

    span
    {
        font-style: italic;    
    }

@media screen and (max-width: 1000px) {

    .lignetime {
        position: relative;
        left: 200px;
        height: 1450px;
    }
    .box-timeline
    {
        margin-bottom: 100px;
    }
    .rond {
        left: calc(50% + 200px);
    }
    .box {
        left: calc(50% - 50px)
    }
    .r2
    {
        top: 450px;
    }
    .b2
    {
        top: 450px;
    }
    .r3
    {
        top: 780px;
    }
    .b3
    {
        top: 780px;
    }
    .r4
    {
        top: 1150px;
    }
    .b4
    {
        top: 1150px;
    }
    .r5
    {
        top: 1500px;
    }
    .b5
    {
        top: 1500px;
    }

}

/* Fin timelane */

@media only screen and (max-width: 900px) {
    /* Appareils avec une résolution de 768 pixels ou moins */

    #slide1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: auto;;
        }
        
        .Nom 
        { 
            grid-area: 1 / 1 / 2 / 2;
            padding-top: 20px;
            padding-bottom: 40px;
            position: relative;
            display: flex;
            font-size: calc(1vw + 1.3rem);
            font-family: 'Aclonica', sans-serif;
            color: rgb(12, 12, 12);
            text-shadow: rgb(255, 255, 255) 3px 3px 3px, rgb(255, 255, 255) -3px -3px 3px;
            align-items: center;
         }
        .Titre 
        { 
            grid-area: 2 / 1 / 3 / 2; 
            font-size: calc(1vw + 1.8rem);
            color: rgb(12, 12, 12);
            padding-bottom: 20px;;
            text-shadow: rgb(255, 255, 255) 3px 3px 3px, rgb(255, 255, 255) -3px -3px 3px;
        }

    .imgPDP
    {
        display: none;
    }

    .container-menu
    {
        width: 450px;
        height: 400px; 
        position: fixed;
        top : -165px;
        left: -180px;
        z-index: 50000;
    }

    .btn-menu
    {
        width: 50px;
        height: 50px;
       /*  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(246,13,13,1) 50%, rgba(0,0,0,1) 100%); */
        background-image: url('../Images/testbutton.jpg');
        background-size: cover;
        border-radius: 50%;
        top: 50%;
        left: 47%;
        transform: translate(-50%,-50%);
        position: absolute;
        z-index: 20;
        cursor: pointer;
        transition: all 0.1 0.2s ease-in-out;
    }

    .ligne
    {
        width: 20px;
        height: 3px;
        border-radius: 5px;
        background: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 0.1s 0.3s ease-in;
    }

    .ligne::before
    {
        content:'';
        position: absolute;
        bottom: 7px;
        background : #ffffff;
        width: 20px;
        height: 3px;
        border-radius: 5px;
        transition: all 0.1s 0.3s ease-in-out;
    }

    .ligne::after
    {
        content:'';
        position: absolute;
        top: 7px;
        background : #ffffff;
        width: 20px;
        height: 3px;
        border-radius: 5px;
        transition: all 0.1s 0.3s ease-in-out;
    }

    .container-menu .ligne-menu
    {
        border: 1px solid rgb(201, 198, 198);
    }

    .container-menu.active .ligne-menu
    {
        border: 1px solid rgb(201, 198, 198);
    }

    .container-menu.active .ligne-menu1
    {
        visibility: visible;
        opacity: 1;
        left: 72%;
        top: 65%;
    } 

    .container-menu.active .ligne-menu2
    {
        visibility: visible;
        opacity: 1;
        left: 72%;
        top: 79%;
    } 

    .container-menu.active .ligne-menu3
    {
        visibility: visible;
        opacity: 1;
        left: 72%;
        top: 93%;
    } 

    .container-menu.active .ligne-menu4
    {
        visibility: visible;
        opacity: 1;
        padding-left: 28px;
        left: 72%;
        top: 107%;
    } 

    .container-menu.active .ligne-menu5
    {
        visibility: visible;
        opacity: 1;
        left: 72%;
        top: 121%;
    } 

    .container-menu.active .ligne-menu6
    {
        visibility: visible;
        opacity: 1;
        left: 72%;
        top: 135%;
    } 
   }

   @media screen and (max-width: 515px) {

        .lignetime
        {
            display: none;
        }
        .box
        {
            margin: 0;
        }
        .rond
        {
            display: none;
        }
        .b1, .b2, .b3, .b4, .b5
        {
            left: 50%;
            max-width: 250px;
            height: 300px;
        }
        .b1
        {
            height: auto;
            top: 10px;
        }
        .b2
        {
            height: auto;
            top: 460px;
        }
        .b3
        {
            height: auto;
            top: 860px;
        }
        .b4
        {
            height: auto;
            top: 1340px;
        }
        .b5
        {
            height: auto;
            top: 1740px;
        }
        .box-timeline
    {
        margin-bottom: 400px;
    }
   }

   @media only screen and (max-width: 320px) {

    .Nom 
        { 
            grid-area: 1 / 1 / 2 / 2;
            Padding: 20px 0 20px 0;
            font-size: calc(1vw + 1.2rem);
         }

    .Titre 
    { 
        font-size: calc(1vw + 1.3rem);
    }
   }